.canvas-page {
  padding: 30px;
  background: #1c2230;
  color: white;
  min-height: 100vh;
}

/* ===== Welcome Box ===== */

.welcome-box {
  border: 1px solid #ffb347;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 30px;
}

.welcome-box h2 {
  color: #ffb347;
}

.welcome-box span {
  color: #ffb347;
}

/* ===== Layout ===== */

.main-layout {
  display: flex;
  gap: 25px;
}

/* ===== Left Canvas ===== */

.canvas-area {
  flex: 3;
}

.canvas-area h3 {
  margin-bottom: 10px;
}

.canvas-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 25px;
}

/* Bottom Cards */

.bottom-cards {
  display: flex;
  gap: 20px;
}

.nav-card {
  flex: 1;
  background: #2a3145;
  padding: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-card:hover {
  background: #ffb347;
  color: black;
}

/* ===== Right Panel ===== */

.side-panel {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.panel-card {
  background: #2a3145;
  padding: 18px;
  border-radius: 12px;
}

.panel-card h3 {
  margin-bottom: 12px;
  color: #ffb347;
}

/* Feedback */

.feedback-item {
  margin-bottom: 12px;
  border-bottom: 1px solid #3a3f55;
  padding-bottom: 8px;
}


/* Button */

.small-btn {
  background: #ffb347;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
