.admin-topbar {
  height: 70px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr auto 1fr;  /* LEFT | CENTER | RIGHT */
  align-items: center;

  padding: 0 20px;

  background: #d99368;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);

  position: sticky;
  top: 0;
  z-index: 998;
}

/* CENTER TITLE */
.admin-title {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.5px;
  justify-self: center;
}

/* RIGHT SECTION */
.admin-actions {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 15px;
}
